*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(215, 255, 114);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
}


h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
.p1 {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: bold;
  text-align: center;
}
.p2 {
  color: grey;
  margin-bottom: 40px;
}
.faqContainer {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.faqItem {
  background-color: rgb(216, 223, 168);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(15, 19, 15);
}
.faqQuestion {
  width: 100%;
  background: none;
  border: none;
  background-color: white;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: rgb(248, 8, 8);

}
.arrow {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
  flex-shrink: 0;

}
.faqItem.open .arrow {
   transform: rotate(180deg);
}
.faqAnswer {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.faqAnswer p {
  padding: 10px 25px 20px 15px;
  color: rgb(11, 1, 32);
  line-height: 1.7;

}
.faqItem.open .faqAnswer {
  max-height: 300px;
}